<div class="pague-header">
  <h1>Todas las clausulas</h1>

</div>

<%= link_to "Crear una nueva clausula", new_status_path, class: "btn btn-info" %>

<% @statuses.each do |status| %>

 <div class="status">
  <strong> Tipo Clausula: <%= status.tipoclausula  %></strong>
  <br>
  <label> Clausula: <%= status.clausula %></label>
  <p> Descripcion: <%= status.texto %></p>
  <div>
    <%= link_to "Hace "+ time_ago_in_words(status.created_at), status %>
    <span class="admin">
      <%= link_to "Editar", edit_status_path(status) %>
      <%= link_to "Borrar", status, method: :delete, data: { confirm: "Estas seguro de borrar la clausula"}%>
    </span>
  </div>
 </div>




  <% end %>